#mybody {
    overflow: hidden;
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}
.bodyTitle {
    font-size: 2.3rem;
    font-weight: 600;
    padding-left: 3rem;
    margin-bottom: 3rem;

}

.bodyDescr {
 font-weight: 200;
 font-size: 1rem;
 max-width: 50rem;
 padding: 0 1rem;
 word-spacing: normal;
}
.bodyBars {
    margin: 1.5rem;
    width: 100vw;
    max-width: 80%;
    text-align: left;
}

.bodyBar {
    display: flex;
    margin: 1rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    background: rgb(50, 50, blue);
    
}

.bodyBarImg {
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin-right: 2rem;
}

.bodyBarText>p {
    font-size: 0.9rem;
    font-weight: 200;
}

@media screen and (max-width:720px) {
    .bodyBarText>p {
        font-size: 2vw;
    }
    
}

@media screen and (max-width:480px) {
    .bodyBarText>p {
        font-size: 3vw;
    }
    .bodyBarImg {
        height: 2.25rem;
        width: 2.25rem;
    }
    
}
