#contactPage {
    min-height: calc(100vh-4rem);
    width: 100vh;
    max-width: 60rem;
    text-align: center;
    justify-content: center;
}

.contactPageTitle {
    font-size: 2rem;
    margin-bottom: 1rem;

}


.contactForm {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    max-width: 60rem;
}

.contactDescr {
    padding: 1rem;
    font-size: medium;
    font-weight: 300;
    text-align: center;
    box-sizing: border-box;
    overflow-wrap: break-word;
}

.contactForm {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    max-width: 60rem;
}

.name, .email, .msg {
    font-size: medium;
    width: 100%;
    max-width: 40rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    color: white;
    border: none;
    border-radius: 0.5rem;
    background: rgb(40,40,40);

}

.submitBtn {
    background: white;
    border: none;
    margin: 2rem;
    padding: 0.75rem 1.5rem;

}

.links {
    display: flex;
    flex-wrap: wrap;
}

.link {
    object-fit: cover;
    height: 2.5rem;
    width: 2.5rem;
    margin: 0 0.75rem;
    border-radius: 50%;
}

@media screen and (max-width:480px) {
    .link {
        height: 1.75rem;
        width: 1.75rem;
    }
    
}

h1 {
    border-bottom:solid red;
}