.navbar {
    background:repeating-radial-gradient(red,green,black);
    height:5rem;
    width: 100vw;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
    

}
.logo {
    object-fit:cover;
    height: 3rem;
    width: 4rem;
    border-radius: 100%;
    font-size: 50px;
}
.mine {
    object-fit:cover;
    height: 3rem;
    width: 4rem;
    border-radius: 100%;
    right: 30rem;
}

.menuItemList {
    margin: 1rem;
    cursor: pointer;
}
.menuItemList:hover {
    color: green;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid green;
}
.menuBtn {
    background: transparent;
    color: rgb(247, 0, 0);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    font-size: larger;
    border-radius: 2rem;

}
.menuBtnImg{
    object-fit: cover;
    color: rgb(247, 0, 0);
    height: 1rem;
    width: 1rem;
    margin: 1rem;
}

.active {
    color: yellow;
    padding-bottom: 0.5rem;
    border-color: 3px solid yellow;
}
.mobmenu {
    display: none;
    object-fit: cover;
    height: 1.8rem;
}
.navMenu {
    position: absolute;
    top:4rem;
    right: 2rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    height: fit-content;
    min-width:15rem ;
    background: rgb(30, 30, 30);

}

.ItemList {
    color: white;
    padding: 0.5rem 3rem;
    margin: 0.25rem;
    background: rgb(30, 30, 30);
}
@media screen and (max-width:720px) {
    .mobmenu {
        display: flex;
    }
    .menu {
        display: none;
    }
    .menuBtn{
        display: none;
    }
    .navbar {
        width: 100%;
    }
    
}

@media screen and (max-width:480px) {
    .mobmenu {
        display: flex;
    }
    .menu {
        display: none;
    }
    .menuBtn{
        display: none;
    }
    .navbar {
        width: 100%;
    }
    
}