#intro {
 height: calc(100vh-4rem);
 width: 100vw;
 max-width: 75rem;
 margin: 0 auto;
 overflow: hidden;
 position: relative;

}
.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}



@keyframes scaleImage {
    0% {
        transform: scale(0.1);
        opacity: 1;
    }
    50% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}


.introContent {
    height: 100vh;
    width: 100vh;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.hey {
    font-size: 2rem;
    font-weight: 100;
}

.introName{
    color: yellow;
}
.introName {
    display: inline-block;
    animation: typing 3s infinite;
  }
  
  @keyframes typing {
    0% {
      opacity: 0;
      transform: translateX(-10px);
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translateX(10px);
    }
  }

.introPara {
    font-size: medium;
    font-weight: 300;
    letter-spacing: normal;
    width: 90vw;
    max-width: 80%;
    text-align: left;

}

.btn {
    background:white;
    margin: 1rem 0;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 2rem;
}
.btnImg {
    object-fit: cover;
    margin: 0 0.25rem;
    height: 1rem;
}

@media screen and (max-width:840px){
    .bg{
        right: -10vw;
    }
    .introContent{
        font-size: 10vw;

    }
    .hey {
        font-size: 4.5vw;
    }
    
}

@media screen and (max-width:480px){
    .bg{
        right: -20vw;
    }
    .introPara {
        font-size: 20px;
        
    }
    .introText {
        font-size: 7.5vw;
    }
    
    
}
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set the height of the container to full viewport height */
  }
  
  .image-container img {
    object-fit: contain; /* Ensure the image fits within the container without cropping */
    max-width: 100%; /* Limit the image width to prevent overflow */
    max-height: 100%; /* Limit the image height to prevent overflow */
  }
  
  



